[submodule "vendor/freestnd-cxx-hdrs"]
	path = vendor/freestnd-cxx-hdrs
	url = https://codeberg.org/osdev/freestnd-cxx-hdrs
[submodule "vendor/freestnd-c-hdrs"]
	path = vendor/freestnd-c-hdrs
	url = https://codeberg.org/osdev/freestnd-c-hdrs
[submodule "vendor/nanoprintf"]
	path = vendor/nanoprintf
	url = https://github.com/charlesnicholson/nanoprintf
[submodule "vendor/cc-runtime"]
	path = vendor/cc-runtime
	url = https://codeberg.org/osdev/cc-runtime
[submodule "vendor/limine"]
	path = vendor/limine
	url = https://github.com/limine-bootloader/limine
	branch = v10.x-binary
[submodule "vendor/uacpi"]
	path = vendor/uacpi
	url = https://github.com/uACPI/uACPI
[submodule "vendor/flanterm"]
	path = vendor/flanterm
	url = https://codeberg.org/yakdist/flanterm
[submodule "vendor/pairing-heap"]
	path = vendor/pairing-heap
	url = https://github.com/lretq/pairing-heap
[submodule "vendor/limine-protocol"]
	path = vendor/limine-protocol
	url = https://codeberg.org/Limine/limine-protocol
